@font-face {
  font-family: 'sf_pro_display';
  src: url("./fonts/SFPRODISPLAYBLACKITALIC.OTF");
  font-weight: normal;
}
@font-face {
  font-family: 'sf_pro_display';
  src: url("./fonts/SFPRODISPLAYBOLD.OTF");
  font-weight: bold;
}
@font-face {
  font-family: 'sf_pro_display';
  src: url("./fonts/SFPRODISPLAYMEDIUM.OTF");
  font-weight: medium;
}
@font-face {
  font-family: 'sf_pro_display';
  src: url("./fonts/SFPRODISPLAYREGULAR.OTF");
  font-weight: regular;
}
body {
  margin: 0;
  font-family: 'sf_pro_display',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
}

code {
  font-family: 'sf_pro_display', sans-serif;
}
.field_error {
  color: red;
  font-size: 12px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
form input > p {
  min-height: 14px;
  
}
.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}
.box-shadow {
  background: #FFFFFF;
  box-shadow: 0px 1px 20px 2px rgba(0, 0, 0, 0.25);
  padding-top: 30px;
  padding-bottom: 10px;
}
.main-layout {
  height: 100vh;
}