@font-face {
  font-family: 'sf_pro_display';
  src: url("./fonts/SFPRODISPLAYBLACKITALIC.OTF");
  font-weight: normal;
}
@font-face {
  font-family: 'sf_pro_display';
  src: url("./fonts/SFPRODISPLAYBOLD.OTF");
  font-weight: bold;
}
@font-face {
  font-family: 'sf_pro_display';
  src: url("./fonts/SFPRODISPLAYMEDIUM.OTF");
  font-weight: medium;
}
@font-face {
  font-family: 'sf_pro_display';
  src: url("./fonts/SFPRODISPLAYREGULAR.OTF");
  font-weight: regular;
}
body {
  margin: 0;
  font-family: 'sf_pro_display',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
}

.btn-p{
  font-size: 1rem;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
  border-radius: 20px;
  width: 400px;
  max-width: 100%;
  padding: 22px 24px;
  display: inline-block;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #FFFFFF;
  border: 1px solid #255DC8;
  background:  #255DC8;
}

code {
  font-family: 'sf_pro_display', sans-serif;
}
.field_error {
  color: red;
  font-size: 12px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
form input > p {
  min-height: 14px;
  
}
.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}
.box-shadow {
  background: #FFFFFF;
  box-shadow: 0px 1px 20px 2px rgba(0, 0, 0, 0.25);
  padding-top: 30px;
  padding-bottom: 10px;
}
.main-layout {
  height: 100vh;
}
